{{#if error_msg}}
<div>
  <div class="error">
    <h6 class="error">{{error_msg}}</h6>
  </div>
</div>
{{/if}}

{{#if success_msg}}
<div>
  <div class="success">
    <h6 class="success">{{success_msg}}</h6>
  </div>
</div>
{{/if}}
