<nav>
    <div><a href = "/"><input type="image" class="logo" src="img/logo2.png" alt="Submit" ></a></div>

    <ul class = "navigation">
        <li><a href = "/">Login</a></li>
        <li><a href = "register">Register</a></li>
    </ul>
</nav>