<nav>
    <div><a href = "myinventory"><input type="image" class="logo" src="img/logo.png" alt="Submit" ></a></div>

    <ul class = "navigation">
        <li><a href = "myinventory">My Inventory</a></li>
        <li><a href = "sharedinventory">Shared Inventory</a></li>
        <li><a href = "settings">Settings</a></li>
        <li><a href = "/logout">Logout</a></li>
    </ul>
</nav>