<div class="form-box2">
    <pre>
    Keeping Track of Your Things the Easy Way

    Goal of this Website:
    This website aims to help people keep track of their items easily without having to write it down in a piece of paper that might get lost. It is an inventory system that allows a user or multiple users to look at or manage the inventory.


    How to Organize Your Things:
    Start by creating your account. After having your account created, you can now start creating inventories to put in the thing you want to keep track of. You can invite your friends, family, co-workers to help you keep track and manage your inventory.


    Who Are We?
    The developers of this website are a group of college students who needed to create a web application for a project. They chose to create this type of project, the inventory management system, because they think that it is important to know what you have and don’t have. The team wanted to help people keep track of their things and thought that it would be a great idea to have other people help each other out in managing their inventories.


    Each user:
    
    </pre>
</div>


