<div class="form-box2">
    <p style="text-align:center">
    <b>Keeping Track of Your Things the Easy Way</b><br><br>

    <b>Goal of this Website:</b><br>
    This website aims to help people keep track of their items easily without having to write it down <br>
    in a piece of paper that might get lost. It is an inventory system that allows a user or multiple
    <br>
    users to look at or manage the inventory.
    <br><br>

    <b>How to Organize Your Things:</b><br>
    Start by creating your account. After having your account created, you can now start creating
    <br>
    inventories to put in the thing you want to keep track of. You can invite your friends, family,
    <br>
    co-workers to help you keep track and manage your inventory.
    <br><br>

        
    <b>Who Are We?</b><br>
    The developers of this website are a group of college students who needed to create a web 
    <br>
    application for a project. They chose to create this type of project, the inventory management 
    <br>
    system, because they think that it is important to know what you have and don’t have. The team 
    <br>
    wanted to help people keep track of their things and thought that it would be a great idea to
    <br>
    have other people help each other out in managing their inventories.
    <br><br>

    Each user:<br>
    KIM, Haneul
    <img class = "profile" src="img/kim.jpg">
        
    <br>
    NPM Packages<br>
    "@handlebars/allow-prototype-access": "^1.0.3"<br>
    "bcrypt": "^4.0.1",<br>
    "body-parser": "^1.19.0",<br>
    "connect-flash": "^0.1.1",<br>
    "connect-mongo": "^3.2.0",<br>
    "crypto": "^1.0.1",<br>
    "express": "^4.17.1",<br>
    "express-handlebars": "^4.0.2",<br>
    "express-session": "^1.17.0",<br>
    "express-validator": "^6.4.0",<br>
    "gridfs-stream": "^1.1.1",<br>
    "handlebars": "^4.7.6",<br>
    "method-override": "^3.0.0",<br>
    "mongoose": "^5.9.7",<br>
    "moongoose": "0.0.5",<br>
    "multer": "^1.4.2",<br>
    "multer-gridfs-storage": "^4.0.3"<br>
    "dotenv": "^8.2.0",<br>
    "nodemon": "^2.0.3"<br>
    </p>
</div>


