<br>
<div class = "body">
    <form id="form" action="/updateItem" method="POST">
        <table>
            <tr>
                <th colspan="2" style="border-bottom: 2px solid #aaa"><h3><strong>Add Item</strong></h3></th>
            </tr>
            <tr><td><br></td></tr>
            <tr>
                <td><label for="name">Name</label></td>
                <td><input type="text" name="name" id="name" value="{{ item.name }}"></td>
            </tr>
            <tr>
                <td><label for="quantity">Quantity</label></td>
                <td><input type="number" name="quantity" id="quantity" value="{{ item.quantity }}"></td>
            </tr>
            <tr>
                <td><label for="description">Description</label></td>
                <td><textarea type="text" name="description" id="description" rows="2" value="{{ item.description }}"></textarea></td>
            </tr>
            <tr>
                <td colspan="2" style="text-align: center">{{> messages}}</td>
            </tr>
            <tr>
                <td colspan="2">
                    <button name = "submit" id = "submit" value = "Update">Update</button>
                </td>
            </tr>
        </table>
    </form>
</div>
