<br>
<div class="body">
    <form id="form" action="/updateInventory" method="POST">
        <table>
            <tr>
                <th colspan="4"><h3><strong>Edit Inventory</strong></h3></th>
            </tr>
            <tr><td><br></td></tr>
            <tr>
                <td><label for="name">Name</label></td>
                <td><input type="text" name="name" id="name" value="{{ this.name }}"></td>
            <tr>
                <td><label for="category">Category</label></td>
                <td>
                    <select name="category" id="category" style="border-radius: 4px">
                        <option value="animal">Animals/ Pets</option>
                        <option value="clothing">Clothing/ Accessories</option>
                        <option value="food">Food</option>
                        <option value="hardware">Hardware</option>
                        <option value="medicine">Medicine/ Health</option>
                        <option value="nature">Nature</option>
                        <option value="recreational">Recreational/ Hobbies</option>
                        <option value="school">School</option>
                        <option value="technology">Technology</option>
                        <option value="transportation">Transportation</option>
                        <option value="others" selected="selected">Others</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td><label for="description">Description</label></td>
                <td><textarea type="text" name="description" id="description" rows="2" value="{{ this.description}}"></textarea></td>
            </tr>
            <tr>
                <td colspan="2" style="text-align: center">{{> messages}}</td>
            </tr>
            <tr>
                <td colspan="2">
                    <button name = "submit" id = "submit" value = "Update">Update</button>
                </td>
            </tr>
        </table>
    </form>
</div>