<div class="form-box">
    <form class="input" action="/login" method="POST">
        <h1><strong>Login</strong></h1>
        <h2>Enter credentials</h2>
        <label for = "email">Email:</label>
        <input type = "text" name="email" id = "email" placeholder = "Email"><br>

        <label for="password">Password:</label>
        <input type = "password" name = "password" id = "password" placeholder = "Password">

        <br>
        {{> messages}}
        <br>

        <button name = "submit" id = "submit" value = "Login">Login</button>
        <br>
        <p>New user?</p>
        <br>
        <p><a href="/register">Register!</a></p>
    </form>
</div>	