*
{
    margin: 0;
    padding: 0;
    font-family: "Open Sans", sans-serif;
}

nav
{
    background-color: lightskyblue;
    overflow: hidden;
    position: sticky;
    top: 0;
    z-index: 1;
}

.navigation
{
    float: right;
    list-style: none;
    margin-top: 30px;
}

.navigation li
{
    display: inline-block;
}

.navigation li a
{
    color: white;
    text-decoration: none;
    text-align: center;
    padding: 5px 20px;
    font-size: 15px;
}

.navigation li.active a
{
    border: 1px solid;
}

.navigation li a:hover
{
    border: 1px solid white;
}

.logo
{
    width: auto;
    height: 70px;
    float: left;
}

.row
{
    max-width: 1200px;
    margin: auto;
    background-color: #333;
}

.form-box{
    width: 400px;
    height: 570px;
    position: relative;
    margin: 5% auto;
    background-color:rgba(255,255,255,0.8);
    padding: 5px;
    border-radius: 4px;
}

.form-box2{
    width: 800px;
    height: 570px;
    position: relative;
    margin: 5% auto;
    background-color:rgba(255,255,255,0.8);
    padding: 5px;
    border-radius: 4px;
}

.input{
    text-align:center;
    top: 30px;
    left: 50px;
    position: relative;
    width: 300px;
    transition: .5s;
}

.form-box input{
    text-align:center;
    width: 100%;
    padding: 10px 0;
    margin: 5px 0;
    border-left: 0;
    border-top: 0;
    border-right: 0;
    border-bottom: 1px solid #999;
    outline: none;
    background: transparent;
}

.form-box2 input{
    text-align:center;
    width: 100%;
    padding: 10px 0;
    margin: 5px 0;
    border-left: 0;
    border-top: 0;
    border-right: 0;
    border-bottom: 1px solid #999;
    outline: none;
    background: transparent;
}

#submit,#login,#my_inventory{
    width: 50%;
    padding: 10px 30px;
    cursor: pointer;
    display: block;
    margin: auto;
    background: lightskyblue;
    border: 0;
    outline: none;
    border-radius: 30px;
}

#head{
    left: 50px;
}

.inventory_image{
    object-fit: cover;
    width: 250px;
    height: 250px;
}

.tables:after {
  content: "";
  display: table;
  clear: both;
}

.column{
    float: left;
    width: 16.666%;
}


footer.container {
    position: fixed;
    bottom: 0;
    left: 0;
    right:0;
    background-color: rgba(135,206,250,0.5);
    width: 100%;
    margin: 0;
    padding-bottom: 3px;
  }

.body {
    max-width: 1100px;
    margin: auto;
    font-size: 1em;
    color: white;
    text-align: center;
}

#form {
    display: inline-block;
    margin: auto;
    color: black;
    background-color: white;
    border-radius: 10px;
    padding: 4px;
    text-align: center;
}

#form th {
    padding: 0px 8px;
    height: 30px;
    text-align: center;
    background-color: lightskyblue;
    border-top-left-radius: 10px;
    border-top-left-radius: 10px;
}

#form td {
    padding: 0px 20px;
    height: 30px;
    text-align: right;
}


#form input {
    width: 100%;
    border: 1px solid #ddd;
    padding-left: 4px;
    border-left: 0;
    border-top: 0;
    border-right: 0;
    border-bottom: 1px solid #999;
    outline: none;
    background: transparent;
}

#form textarea {
    width: 100%;
    border: 1px solid #ddd;
    padding-left: 4px;
    border-left: 0;
    border-top: 0;
    border-right: 0;
    border-bottom: 1px solid #999;
    outline: none;
    background: transparent;
}

#list {
    color: black;
}

.itemList {
    min-height: 100px;
    background-color: #eee;
    display: flex;
    padding: 8px;
    margin: 8px;
    align-items: center;
    border-radius: 10px;
    table-layout: fixed;
}

.itemList td {
    overflow-wrap: break-word;
}

.namecol {
    width: 250px;
    max-width: 250px;
    border-right: 1px solid lightslategray;
}

.itemcol {
    width: 700px;
    max-width: 700px;
    border-right: 1px solid lightslategray;
}

.quantitycol {
    width: 100px;
    text-align: center;
    font-weight: 700;
    max-width: 80px;
    border-right: 1px solid lightslategray;
}

.optionscol {
    width: 30px;
    text-align: right;
}

.error {
    margin: 0;
    padding: 0;
    color:rgb(168, 5, 5);
    font-weight: 700;
}

.success {
    margin: 0;
    padding: 0;
    color: rgb(1, 196, 1);
    font-weight: 700;
}

#grid_container {
    display: grid;
    grid-template-columns:  repeat(auto-fit, 260px);
    grid-gap: 10px;
    background-color: rgba(255,255,255,0.5);
    padding: 10px;
    border-radius: 4px;
}

.options {
    padding: 5px 5px;
    margin-left: 5px;
    cursor: pointer;
    border: 1px solid black;
    outline: none;
    border-radius: 10px;
    float: right;
    width: 30px;
    height: 30px;
    background-color: lightskyblue;
}

.inventory_name {
    float:left;
    color: black;
}

.inventory {
    border: 1px solid;
    border-color: black;
    padding: 5px 5px;
    max-width: 265px;
    border-radius: 4px;
    background-color:  rgba(255,255,255,1);
}

#message{
    font-size: large;
    color: white;
    text-align: center;
}