<br>
<div class="body">
    <form id="form" action="/updateInventory" method="POST">
        <table>
            <tr>
                <td colspan="4" style="border-bottom: 2px solid #aaa"><strong>Edit Inventory</strong>
                </td>
            </tr>
            <tr>
                <td><label for="name">Name</label></td>
                <td><input type="text" name="name" id="name" value="{{ inventory.name }}"></td>
            <tr>
                <td><label for="image">Image</label></td>
                <td><input type="file" name="image" id="image" accept="image/*">
                </td>
            </tr>
            <tr>
                <td><label for="description">Description</label></td>
                <td><input type="text" name="description" id="description" value="{{ inventory.description }}"></td>
            </tr>
            <tr>
                <td colspan="4">{{> messages}}</td>
            </tr>
            <tr>
                <td colspan="4">
                    <button name = "submit" id = "submit" value = "Update">Update</button>
                </td>
            </tr>
        </table>
    </form>
</div>