<div class="form-box">
    <form class="input" action="/settings" method="POST">
        <h1>Change Password</h1><br>
        <label for = "user">Old Password:</label>
        <input type = "password" name="oldPass" id = "oldPass" placeholder = "Old Password"><br>

        <label for="pw">New Password:</label>
        <input type = "password" name = "password" id = "password" placeholder = "New Password">
        
        <label for="cpw">Confirm password:</label>
        <input type="password" name="confirmPass" id="confirmPass" placeholder = "Confirm Password">

        <br>
        {{> messages}}
        <br>

        <button name = "submit" id = "submit" value = "Update">Update Password</button>
    </form>
</div>