<nav>
    <div><input type="image" class="logo" src="img/logo.png" alt="Submit" ></div>

    <ul class = "navigation">
        <li><a href = "search">Search</a></li>
        <li><a href = "myinventory">My Inventory</a></li>
        <li><a href = "sharedinventory">Shared Inventory</a></li>
        <li><a href = "settings">Settings</a></li>
        <li><a href = "/logout">Logout</a></li>
    </ul>
</nav>